<svg width="100%" viewBox="0 0 1000 200" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <g ng-repeat="skillLevel in skills">
        <text ng-attr-x="{{100+$index*200}}" ng-attr-y="{{(highest*40 + 10)}}" text-anchor="middle">{{skillLevel.name}}</text>
        <g ng-repeat="sl in skillLevel.technologies">
            <rect ng-attr-x="{{10+$parent.$index*200}}" ng-attr-y="{{((highest*40 - 40)-($index*35))}}" rx="5" ry="5" width="190" height="30" ng-attr-fill="{{skillLevel.fill}}" ng-attr-stroke="{{skillLevel.stroke}}" stroke-width="1"></rect>
            <text ng-attr-x="{{100+$parent.$index*200}}" ng-attr-y="{{((highest*40 - 20)-($index*35))}}" text-anchor="middle" ng-attr-fill="{{skillLevel.textFill}}">{{sl.name}}</text>
        </g>
    </g>
</svg>