/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
	padding-bottom: 40px;
	padding-top: 70px;
	color: #5a5a5a;
	font-family: 'PT Sans', sans-serif;
}

li {
	list-style: none;
	margin: 2px 0;
}


#file_browse_wrapper {
background-color: #5cb85c;
border: 1px solid #4cae4c;
display: inline;
margin: 0 4px 0 0;
border-radius: 2px;
color: #fff;
padding: 5px 8px 9px 10px;
cursor: pointer;
position: relative;
overflow: visible;
}
#file_browse_wrapper:hover {
background-color: #47a447;
border-color: #398439;
}
#file_browse_wrapper:active {
background-image: none;
}
#fileinput {
left: 1px;
opacity: 0;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
position: absolute;
top: 0px;
width: 92px;
height: 32px;
cursor: pointer;
}

.radar-movement {
	color: black;
	background-color: rgba(61, 181, 190, 0.3);
	font-weight: 100;
	padding: 0px 4px 2px 4px;
	border-radius: 2px;
	margin-left: 3px;
}

.chart:hover .radar-preview,.selected-radar {
	background-color: #E4E5E4;
	border-radius: 10px;
	box-shadow: 3px 3px 3px #CCCCCC;
}

.more-detail {
	padding: 10px;
	border: 1px solid #CCCCCC
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
	padding-right: 0;
	padding-left: 0;
}

.navbar-wrapper .navbar {
	padding-right: 15px;
	padding-left: 15px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	height: 500px;
	margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
	height: 500px;
	background-color: #777;
}

.carousel-inner>.item>img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 500px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
	padding-right: 15px;
	padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
	margin-bottom: 20px;
	text-align: center;
}

.marketing h2 {
	font-weight: normal;
}

.marketing .col-lg-4 p {
	margin-right: 10px;
	margin-left: 10px;
}

/* Featurettes
------------------------- */
.featurette-divider {
	margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media ( min-width : 768px) {
	/* Remove the edge padding needed for mobile */
	.marketing {
		padding-right: 0;
		padding-left: 0;
	}

	/* Navbar positioning foo */
	.navbar-wrapper {
		margin-top: 20px;
	}
	.navbar-wrapper .container {
		padding-right: 15px;
		padding-left: 15px;
	}
	.navbar-wrapper .navbar {
		padding-right: 0;
		padding-left: 0;
	}

	/* The navbar becomes detached from the top, so we round the corners */
	.navbar-wrapper .navbar {
		border-radius: 4px;
	}

	/* Bump up size of carousel content */
	.carousel-caption p {
		margin-bottom: 20px;
		font-size: 21px;
		line-height: 1.4;
	}
	.featurette-heading {
		font-size: 50px;
	}
}

@media ( min-width : 992px) {
	.featurette-heading {
		margin-top: 120px;
	}
}

@import url(http://fonts.googleapis.com/css?family=PT+Sans);

.tips:hover i {
	color: white;
	background-color: #525252;
}

ul,ol {
	padding: 0;
	margin: 0;
}

ul.socialNetwork li {
	display: inline-block;
	list-style-type: none;
	margin-top: 0.8em;
}

.iconRounded {
	color: #525252;
	border: 1px solid #525252;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: block;
	text-align: center;
	font-size: 18px;
}

.iconRounded:before {
	margin: auto;
	text-align: center;
	line-height: 40px;
}

body {
	padding-bottom: 0;
}

.baefooter {
	background: #e4e4e4;
	border-top: 1px solid #dadada;
	padding: 30px 0 150px 0;
}

.mainFooter {
  position: relative;
  margin: 0 20px 0 175px;
  padding: 10px 0;
}

.mainFooter > a {
  position: absolute;
  top: 26px;
  left: -145px;
}

.baefooter img {
	width: 135px;
	
	-webkit-filter: grayscale(100%);
	-webkit-animation-name: out;
	-webkit-animation-duration: 1s;
	
	-moz-filter: grayscale(100%);
	-moz-animation-name: out;
	-moz-animation-duration: 1s;
	
	-ms-filter: grayscale(100%);
	-ms-animation-name: out;
	-ms-animation-duration: 1s;
	
	-o-filter: grayscale(100%);
	-o-animation-name: out;
	-o-animation-duration: 1s;
	
	filter: grayscale(100%);
	animation-name: out;
	animation-duration: 1s;
}

.baefooter img:hover {
	-webkit-filter: grayscale(0%);
	-webkit-animation-name: in;
	-webkit-animation-duration: 0.5s;
	
	-moz-filter: grayscale(0%);
	-moz-animation-name: in;
	-moz-animation-duration: 0.5s;
	
	-ms-filter: grayscale(0%);
	-ms-animation-name: in;
	-ms-animation-duration: 0.5s;
	
	-o-filter: grayscale(0%);
	-o-animation-name: in;
	-o-animation-duration: 0.5s;
	
	filter: grayscale(0%);
	animation-name: in;
	animation-duration: 0.5s;
}

@-webkit-keyframes in {
	from {-webkit-filter: grayscale(100%);}
	to {-webkit-filter: grayscale(0%);}
}

@-moz-keyframes in {
	from {-moz-filter: grayscale(100%);}
	to {-moz-filter: grayscale(0%);}
}

@-ms-keyframes in {
	from {-ms-filter: grayscale(100%);}
	to {-ms-filter: grayscale(0%);}
}

@-o-keyframes in {
	from {-o-filter: grayscale(100%);}
	to {-o-filter: grayscale(0%);}
}

@keyframes in {
	from {filter: grayscale(100%);}
	to {filter: grayscale(0%);}
}

@-webkit-keyframes out {
	from {-webkit-filter: grayscale(0%);}
	to {-webkit-filter: grayscale(100%);}
}

@-moz-keyframes out {
	from {-moz-filter: grayscale(0%);}
	to {-moz-filter: grayscale(100%);}
}

@-ms-keyframes out {
	from {-ms-filter: grayscale(0%);}
	to {-ms-filter: grayscale(100%);}
}

@-o-keyframes out {
	from {-o-filter: grayscale(0%);}
	to {-o-filter: grayscale(100%);}
}

@keyframes out {
	from {filter: grayscale(0%);}
	to {filter: grayscale(100%);}
}





/* social */
.social-icon-list {
	float: right;
}

.social-icon-list li {
	float: right;
	margin-left: 10px;
	cursor: pointer;
	height: 44px;
    width: 44px;
	position: relative;
	opacity: 0.9;
}

.social-icon-list li a {
	height: 0;
    width: 0;
	display: inline-block;
	position: absolute;
	top: 22px;
	left: 22px;
	margin: auto;
	background-size: 44px 44px;
	background-position: center; 
	border-radius: 22px;
	transition: width 1.1s cubic-bezier(0.19, 1, 0.22, 1), height 1.1s cubic-bezier(0.19, 1, 0.22, 1),
	top 1.1s cubic-bezier(0.19, 1, 0.22, 1), left 1.1s cubic-bezier(0.19, 1, 0.22, 1),
	border-radius 1.5s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
}

.no-csstransitions .social-icon-list li:hover {
	background-position: 0 44px;
}

.social-icon-list li:hover a {
	width: 44px;
	height: 44px;
	border-radius: 0px;
	top: 0;
	left: 0;
}

.social-icon-list .twitter-icon {
	background-image: url("../img/social/twitter.png");
}

.social-icon-list .twitter-icon:hover a {
	background-image: url("../img/social/twitterColour.png");
}

.social-icon-list .fb-icon {
	background-image: url("../img/social/facebook.png");
}

.social-icon-list .fb-icon:hover a {
	background-image: url("../img/social/facebookColour.png");
}

.social-icon-list .in-icon {
	background-image: url("../img/social/linkedin.png");
}

.social-icon-list .in-icon:hover a {
	background-image: url("../img/social/linkedinColour.png");
}

.social-icon-list .flickr-icon {
	background-image: url("../img/social/flickr.png");
}

.social-icon-list .flickr-icon:hover a {
	background-image: url("../img/social/flickrColour.png");
}

.social-icon-list .youtube-icon {
	background-image: url("../img/social/youtube.png");
}

.social-icon-list .youtube-icon:hover a {
	background-image: url("../img/social/youtubeColour.png");
}

.baefooter li a {
	font-size: 10px;
}

.navbar-fixed-top {
	border-width: 0;
}

.navbar-inverse .navbar-brand {
	color: #FFF;
}

.navbar-right {
	height: 10px;
}

.nav li {
	margin-top: 0;
	margin-bottom: 0;
}

.navbar-inverse {
	background-color: rgb(46, 57, 63);
}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.active>a:focus
	{
	color: #080808;
	background-color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus
	{
	color: #080808;
	background-color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
	color: #FFF;
}

.navbar-right img {
	width: 20px;
	height: 20px;
	margin-left: 6px;
}

.navbar-right img.img-rounded {
	border-radius: 10px;
}

h1,.h1 {
	font-size: 20px;
	margin: 6px 0;
}

.radar-card {
	margin: 10px;
	padding: 10px;
	border: 1px solid #e1e1e1;
	width: 250px;
	background-color: #FFFFFF;
	position: relative;
	float: left;
}

.radar-card-title {
	margin: 0px 34px 0px 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.radar-card-content {
	text-align: center;
	padding-bottom: 5px;
}

.radar-card-footer {
	padding: 5px 0;
}

.radar-card-button-panel {
	padding: 5px 0;
}

.radar-card-button-panel > div {
	width: 50%;
	float: left;
}

.radar-card-button-panel > div > div {
	margin: 0 2px;
}

.radar-card .icon-rounded {
	position: absolute;
	width: 26px;
	height: 26px;
	border-radius: 13px;
	right: 14px;
	top: 15px;
	text-align: center;
	font-size: 15px;
	padding: 5px 0;
}

.radar-card .icon-rounded.ok {
	background-color: rgb(223, 234, 211);
	color: green;
}

.radar-card .icon-rounded.pencil {
	background-color: rgb(238, 213, 194);
	color: red;
}

.radar-card .img-rounded {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 25px;
}

.left-inner-addon i {
	position: absolute;
	padding: 10px 12px;
	pointer-events: none;
}

.left-inner-addon input {
	padding-left: 30px;
}

.btn {
border-radius: 2px;
}




.search-wrapper i {
    position: absolute;
    top: 9px;
    left: 24px;
}

.search-wrapper span {
    width: 100%;
}

.search-wrapper input {
    padding: 0 0 0 30px;
}

.search-wrapper input.tt-hint {
    padding: 1px 1px 1px 31px;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.search-title {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  font-weight: bold;
}


.progress.active .progress-bar, .progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}

.progress-striped .progress-bar, .progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
}


.modal-xl .modal-dialog {
  width: 100%;
  padding: 20px 20px 0 20px;
  margin: 0;
}

.technology-wrapper {
  background-color: #FFFFFF;
  margin: 4px 0px 0px 0px;
  border: 1px solid #CCC;
  border-radius: 4px;
}

.modal .modal-body .technology-wrapper {
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.technology-card {
  border-bottom: 1px solid #CCC;
  padding: 7px 10px 5px 10px;
  cursor: pointer;
  position: relative;
}

.technology-card i {
  position: absolute;
  right: 9px;
  top: 9px;
  color: #428BCA;
}

.technology-card:hover i,
.technology-card.active i {
  color: #FFFFFF;
}

.technology-card:hover,
.technology-card.active {
  background-color: #428BCA;
  color: #FFFFFF;
}






.arc-overlay {
	position: absolute;
	width: 50%;
	top: 0;
}

.arc-overlay > div {
	margin: 30px;
}

.arc-overlay.arc-overlay-left {
	left: 0
}

.arc-overlay.arc-overlay-right {
	right: 0
}

.arc-overlay {
  -webkit-transition:2.5s linear all;
  -moz-transition:2.5s linear all;
  -o-transition:2.5s linear all;
  transition:2.5s linear all;
}


.arc-overlay.ng-show {
  opacity:1;
}

.arc-overlay.ng-hide {
  -webkit-transition:2.5s linear all;
  -moz-transition:2.5s linear all;
  -o-transition:2.5s linear all;
  transition:2.5s linear all;
  opacity:0;
}



.nav-pills>li>a {
	color: #5a5a5a;
}

.nav-pills>li>a:hover, .nav-pills>li>a:focus {
	background-color: transparent;
	font-weight: bold;
}

.nav-pills li {
	border-radius: 0;
}

.nav-pills>li>a {
	border-radius: 2px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #5a5a5a;
    background-color: transparent;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover {
    font-weight: bold;
}

.nav-pills li.active, .nav-pills li:hover {
    border-bottom: 2px solid #3276b1;
    font-weight: bold;
}

.form-control {
	border: 1px solid #ddd;
	border-radius: 2px;
}

.glyphicon-search {
	color: #ccc;
}





.nav-radar>li>a:hover, .nav-radar>li>a:focus {
	color: white;
	background-color: rgb(142,142,142);
	font-weight: normal;
}

.nav-radar>li.active>a, .nav-radar>li.active>a:hover, .nav-radar>li.active>a:focus {
    color: white;
    background-color: rgb(142,142,142);
}

.nav-radar>li.active>a, .nav-radar>li.active>a:hover {
    font-weight: normal;
}

.nav-radar li.active, .nav-radar li:hover {
    border-bottom: 0;
    font-weight: normal;
}

.nav-radar li.active.quad1 a, .nav-radar li:hover.quad1 a {
    background-color: #428bca;
}

.nav-radar li.active.quad2 a, .nav-radar li:hover.quad2 a {
    background-color: #d9534f;
}

.nav-radar li.active.quad3 a, .nav-radar li:hover.quad3 a {
    background-color: #5cb85c;
}

.nav-radar li.active.quad4 a, .nav-radar li:hover.quad4 a {
    background-color: #f0ad4e;
}

.containerGroup {
	user-select: none;
	-webkit-user-select: none;
}