<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><strong>tech</strong><span>radar</span> <code>{beta}</code></a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#/radar">Radars</a></li>
				<li><a href="#/technology">Technologies</a></li>
				<li class="active"><a href="#/skill">Skills Profile</a></li>
				<li ng-show="loggedin==true"><a>{{name}}  <img ng-click="loginclick=!loginclick" class="img img-rounded" src="/radar/img/128.jpg"></a></li>
				<li ng-show="loggedin==false">
					<a  ng-click="loginclick=!loginclick">Sign in  <img class="img img-rounded" src="/radar/img/icon_8204.png"></a>
					<div ng-show="loginclick==true" class="popover fade bottom in" style="position: absolute;z-index: 100;top: 38px;left: -185px;display: block;width: 300px;padding: 16px 0px 0px 0px;">
      					<div class="arrow" style="margin-left:87px"></div>
      					<h3 class="popover-title" style="background-color: #FFF;color: #333;padding-top: 0;">Sign in</h3>
      					<div class="popover-content form-group">
      						<iframe id="loginframe" src="loginsuccess.html" style="width: 100%;height: 265px;border: none;overflow: hidden;"></iframe>
      					</div>
    				</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="container-fluid main-content">
	
	<div ng-show="uid != null" class="row">
	
		<div class="col-md-12 clearfix" style="margin-bottom: 0;border-bottom: 1px solid #CCC;padding-bottom: 20px;">
			<div class="col-md-6">
				<h1>
					<img class="img img-rounded" style="width:40px;height:40px;border-radius:20px;" src="/radar/img/128.jpg">
					<strong>{{uid}}:</strong>
					<span> Skills Profile</span>
				</h1>
			</div>
			<div class="col-md-3" style="margin-top:8px">
				<div class="search-wrapper">
					<input ng-search="" on-radar-selected="goApply('/radar/' + id)" on-technology-selected="goApply('/technology/' + id)" type="text" class="form-control typeahead" placeholder="Search"></input>
					<i class="glyphicon glyphicon-search"></i>
				</div>
			</div>
			<div class="col-md-3 text-right" style="margin-top:8px">
				<button class="btn btn-default">Update Connect CV</button>
				<button class="btn btn-success">Add Skill</button>
			</div>
		</div>
		
		<div class="col-md-12" style="background-color:#EFEFEF;padding:25px 20px;">
		
			<div>
				<ul class="nav nav-pills">
					<li class="active"><a href="#/skill">All</a></li>
					<li><a href="#/skill">Platforms</a></li>
					<li><a href="#/skill">Solutions</a></li>
					<li><a href="#/skill">Languages &amp; Frameworks</a></li>
					<li><a href="#/skill">Techniques</a></li>
					<li><a href="#/skill">Tools</a></li>
				</ul>
			</div>
			
			<div style="margin-top:20px">
	
				<div ng-skill-level="" skill-levels="skillLevels"></div>
				
			</div>
			
		</div>

		
	</div>
	
	
	<div ng-show="uid==null" class="row ng-cloak">
	
		<div class="col-md-12 clearfix" style="margin-bottom: 0;border-bottom: 1px solid #CCC;padding-bottom: 20px;">
			<div class="col-md-6">
				<h1>
					Please log in to view your skills profile
				</h1>
			</div>
		</div>
		
		<div class="col-md-12" style="background-color:#EFEFEF;padding:25px 20px;">
			
		</div>

		
	</div>
	
</div>