<div class="container-fluid main-content">
	
	<div ng-show="uid != null" class="row">
	
		<div class="col-md-12 clearfix" style="margin-bottom: 0;border-bottom: 1px solid #CCC;padding-bottom: 20px;">
			<div class="col-md-6">
				<h1>
					<img class="img img-rounded" style="width:40px;height:40px;border-radius:20px;" src="/radar/img/128.jpg">
					<strong>{{uid}}:</strong>
					<span> Skills Profile</span>
				</h1>
			</div>
			<div class="col-md-3" style="margin-top:8px">
				<div class="search-wrapper">
					<input ng-search="" on-radar-selected="goApply('/radar/' + id)" on-technology-selected="goApply('/technology/' + id)" type="text" class="form-control typeahead" placeholder="Search"></input>
					<i class="glyphicon glyphicon-search"></i>
				</div>
			</div>
			<div class="col-md-3 text-right" style="margin-top:8px">
				<button class="btn btn-default">Update Connect CV</button>
				<button class="btn btn-success">Add Skill</button>
			</div>
		</div>
		
		<div class="col-md-12" style="background-color:#EFEFEF;padding:25px 20px;">
		
			<div>
				<ul class="nav nav-pills">
					<li class="active"><a href="#/skill">All</a></li>
					<li><a href="#/skill">Platforms</a></li>
					<li><a href="#/skill">Solutions</a></li>
					<li><a href="#/skill">Languages &amp; Frameworks</a></li>
					<li><a href="#/skill">Techniques</a></li>
					<li><a href="#/skill">Tools</a></li>
				</ul>
			</div>
			
			<div style="margin-top:20px">
				<ng-skill-level skill-levels="skillLevels"></ng-skill-level>
			</div>
			
		</div>

		
	</div>
	
	
	<div ng-show="uid==null" class="row ng-cloak">
	
		<div class="col-md-12 clearfix" style="margin-bottom: 0;border-bottom: 1px solid #CCC;padding-bottom: 20px;">
			<div class="col-md-6">
				<h1>
					Please log in to view your skills profile
				</h1>
			</div>
		</div>
		
		<div class="col-md-12" style="background-color:#EFEFEF;padding:25px 20px;">
			
		</div>

		
	</div>
	
</div>