<div class="container-fluid main-content">
	
	<div ng-show="uid != null" class="row">
	
		<div class="col-md-12 clearfix" style="margin-bottom: 0;border-bottom: 1px solid #CCC;padding-bottom: 20px;">
			<div class="col-md-6">
				<h1>
					<img class="img img-rounded" style="width:40px;height:40px;border-radius:20px;" src="{{userService.getUserImage(uid)}}">
					<strong>{{uid}}:</strong>
					<span> Skills Profile</span>
				</h1>
			</div>
			<div class="col-md-3" style="margin-top:8px">
				<div class="search-wrapper">
					<input ng-search="" on-radar-selected="goApply('/radar/' + id)" on-technology-selected="goApply('/technology/' + id)" type="text" class="form-control typeahead" placeholder="Search"></input>
					<i class="glyphicon glyphicon-search"></i>
				</div>
			</div>
			<div class="col-md-3 text-right" style="margin-top:8px">
				<!-- <button class="btn btn-default" disabled>Update Connect CV</button>
				<button class="btn btn-success" disabled>Add Skill</button> -->
			</div>
		</div>
		
		<div class="col-md-12" ng-show="skillLevels.length" style="background-color:#EFEFEF;padding:25px 20px;">
			<div>
				<ul class="nav nav-pills empty-links">
					<li ng-click="activeGrouping = null" ng-class="{active: !activeGrouping}">
						<a ng-click="activeGrouping = techGrouping.name">All</a>
					</li>
					<li ng-repeat="techGrouping in techGroupings" ng-class="{active: techGrouping.name===activeGrouping}">
						<a ng-click="$parent.activeGrouping = techGrouping.name">
							{{techGrouping.name}}
						</a>
					</li>
				</ul>
			</div>
			
			<ng-skill-level skill-levels="skillLevels" selected-grouping="activeGrouping"></ng-skill-level>
		</div>
		
		<div class="col-md-12" ng-show="!skillLevels.length" style="background-color:#EFEFEF;padding:25px 20px;">
			You have no skills recorded.
		</div>

		
	</div>
	
	
	<div ng-show="uid==null" class="row ng-cloak">
	
		<div class="col-md-12 clearfix" style="margin-bottom: 0;border-bottom: 1px solid #CCC;padding-bottom: 20px;">
			<div class="col-md-6">
				<h1>
					Please log in to view your skills profile
				</h1>
			</div>
		</div>
		
		<div class="col-md-12" style="background-color:#EFEFEF;padding:25px 20px;">
			
		</div>

		
	</div>
	
</div>