<div class="container-fluid main-content">
	
	<div class="row">
	
		<div class="col-md-12 clearfix" style="margin-bottom: 0;border-bottom: 1px solid #CCC;padding-bottom: 20px;">
			<div class="col-md-6">
				<h1><i class="glyphicon glyphicon-ok" style="color:green;"></i> {{technology.name}}</h1>
			</div>
			<div class="col-md-3">
				<div class="search-wrapper">
					<input ng-search="" on-radar-selected="goApply('/radar/' + id)" on-technology-selected="goApply('/technology/' + id)" type="text" class="form-control typeahead" placeholder="Search"></input>
					<i class="glyphicon glyphicon-search"></i>
				</div>
			</div>
		</div>
		
		<div class="col-md-12" style="background-color:#EFEFEF;padding:25px 20px;">
			<div class="col-sm-6">
				<blockquote>
					<p ng-show="technology.description!=null">{{technology.description}}</p>
					<p ng-show="technology.description==null">No description</p> 
					<footer><strong>{{technology.name}}</strong> is advocated by <cite title="Andy Wilson">Andy Wilson</cite></footer>
				</blockquote>
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-xs btn-danger" ng-class="{active: currentSkillLevel==null}" ng-click="selectSkillLevel(null)">None</button>
					</div>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-xs btn-default" ng-class="{active: currentSkillLevel=='Watching'}" ng-click="selectSkillLevel('Watching')">Watching</button>
					</div>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-xs btn-primary" ng-class="{active: currentSkillLevel=='Learning'}" ng-click="selectSkillLevel('Learning')">Learning</button>
					</div>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-xs btn-info" ng-class="{active: currentSkillLevel=='Competent'}" ng-click="selectSkillLevel('Competent')">Competent</button>
					</div>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-xs btn-warning" ng-class="{active: currentSkillLevel=='Expert'}" ng-click="selectSkillLevel('Expert')">Expert</button>
					</div>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-xs btn-success" ng-class="{active: currentSkillLevel=='Leader'}" ng-click="selectSkillLevel('Leader')">Leader</button>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<ng-tech-ratings ng-show="ratings.length > 0" ratings="ratings"></ ng-tech-ratings>
				<div ng-show="ratings.length == 0" style="margin-bottom:10px">Be the first to rate your skill level for this technology</div>
				<div style="margin-bottom:10px">
					<img ng-repeat="rating in ratings" src="/radar/img/icon_8204.png" tooltip-title="{{rating.user + ' - ' + rating.skillLevel}}" data-toggle="tooltip" data-placement="bottom" tooltip="" style="width: 50px;border-radius: 25px;background-color: #DEDEDE;margin: 5px;padding: 1px;box-shadow: 1px 1px 1px #333;">
				</div>
				<div ng-repeat="otherRadar in otherRadars">
					<strong>{{otherRadar.addedByUid}}</strong> added <strong>{{technology.name}}</strong> to <a href="/radar/#/radar/{{otherRadar.radarId}}">{{otherRadar.radarName}}</a> {{otherRadar.addedDate | prettydate}}
				</div>
			</div>
			
		</div>
		
	</div>
</div>