<ng-technology-modal visible="technologyModalVisible" technology="clickedTechnology" logged-in-user="uid" on-skill-level-selected="skillLevelSelected(clickedTechnology, skillLevel)"></ng-technology-modal>

<div class="container-fluid main-content">
	
	<div class="row">
	
	<form id="pdfExportForm" action="/radar/export/pdf" method="post">
		<input hidden="true" id="id" name="id" value=""></input>
	</form>	
	
	<form id="csvExportForm" action="/radar/export/csv" method="post">
		<input hidden="true" id="id" name="id" value=""></input>
	</form>	
	
	<div class="col-md-12" style="margin-bottom: 0;border-bottom: 1px solid #CCC;padding-bottom: 10px;">
		<div class="clearfix">
       		<div class="col-md-6">
				<tr-radar-title></tr-radar-title>
			</div>
			<div class="col-md-6 text-right actions">
				<div class="btn btn-default" ng-click="exportCsv(selectedRadar.id)"><span>Download Data</span></div>
				<div class="btn btn-default" ng-click="exportPdf(selectedRadar.id)"><span>Export PDF</span></div>
					<div class="btn btn-default" ng-click="showShare=!showShare"
						style="position: relative;">
						<span>Share</span>
						<div ng-show="showShare==true" class="popover fade bottom in"
							style="position: absolute; z-index: 100; top: 38px; left: -140px; display: block; width: 276px; padding: 0;">
							<div class="arrow" style="margin-left: 27px"></div>
							<div class="popover-content">
								<input class="form-control" ng-model="theUrl" disabled></input>
							</div>
						</div>
					</div>
					<button class="btn btn-danger" ng-click="go('/radar/'+selectedRadar.id+'/edit')" ng-show="loggedin==true && uid==selectedRadar.createdBy">Edit</button>
			</div>
		</div>
	</div>

	<div class="radar-container col-md-12">
	
		<div class="col-md-12">
			<div class="col-md-6">
				<ul class="nav nav-pills nav-radar">
					<li ng-class="radarIndex == 0 ? 'active' : ''"><a href="javascript:void(0)" ng-click="selectIndex(0)">All</a></li>
					<li ng-repeat="quadrant in selectedRadar.radar.quadrants" ng-class="(radarIndex == $index+1 ? 'active' : '') + ' quad' + ($index+1)">
						<a href="javascript:void(0)" ng-click="selectIndex($index+1)">{{quadrant.name}}</a>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="col-md-12" style="padding:50px 10%;">
			<ng-radar radar="selectedRadar.radar" selected-blip="hoveredTechnology" centre-index="radarIndex" on-blip-clicked="blipClicked(blip)" editable="false"></ng-radar>
			<tr-tech-overlay class="ng-hide quadoverlay1" ng-show="radarIndex===1" side="left" quads="quads[0]" focus="focusTech(tech)" selected-tech-id="hoveredTechnology.id"></tr-tech-overlay>
			<tr-tech-overlay class="ng-hide quadoverlay2" ng-show="radarIndex===2" side="left"  quads="quads[1]" focus="focusTech(tech)" selected-tech-id="hoveredTechnology.id"></tr-tech-overlay>
			<tr-tech-overlay class="ng-hide quadoverlay3" ng-show="radarIndex===3" side="left"  quads="quads[2]" focus="focusTech(tech)" selected-tech-id="hoveredTechnology.id"></tr-tech-overlay>
			<tr-tech-overlay class="ng-hide quadoverlay4" ng-show="radarIndex===4" side="left" quads="quads[3]" focus="focusTech(tech)" selected-tech-id="hoveredTechnology.id"></tr-tech-overlay>
		</div>
		
	</div>
		
	</div>
</div>
