<ng-technology-modal visible="technologyModalVisible" technology="clickedTechnology" logged-in-user="uid" on-skill-level-selected="skillLevelSelected(clickedTechnology, skillLevel)"></ng-technology-modal>

<div class="container-fluid main-content">
	
	<div class="row">
	
	<form id="pdfExportForm" action="/radar/export/pdf" method="post">
		<input hidden="true" id="id" name="id" value=""></input>
	</form>	
	
	<form id="csvExportForm" action="/radar/export/csv" method="post">
		<input hidden="true" id="id" name="id" value=""></input>
	</form>	
	
	<div class="col-md-12" style="margin-bottom: 0;border-bottom: 1px solid #CCC;padding-bottom: 10px;">
		<div class="clearfix">
       		<div class="col-md-6">
				<tr-radar-title></tr-radar-title>
			</div>
			<div class="col-md-6 text-right actions">
				<div class="btn btn-default" ng-click="exportCsv(selectedRadar.id)"><span>Download Data</span></div>
				<div class="btn btn-default" ng-click="exportPdf(selectedRadar.id)"><span>Export PDF</span></div>
				<div class="btn btn-default" ng-click="showShare=!showShare"><span>Share</span></div>
				<div ng-show="showShare==true" class="popover fade bottom in" style="position: absolute;z-index: 100;top: 38px;left: 353px;display: block;width: 322px;padding: 0px 0px 0px 0px;">
      				<div class="arrow" style="margin-left:27px"></div>
      				<div class="popover-content">
      					<input class="form-control" ng-model="theUrl"></input>
      				</div>
    			</div>
				<button class="btn btn-danger" ng-click="go('/radar/'+selectedRadar.id+'/edit')" ng-show="loggedin==true && uid==selectedRadar.createdBy">Edit</button>
			</div>
		</div>
	</div>

	<div class="radar-container col-md-12">
	
		<div class="col-md-12">
			<div class="col-md-6">
				<ul class="nav nav-pills nav-radar">
					<li ng-class="radarIndex == 0 ? 'active' : ''"><a href="javascript:void(0)" ng-click="selectIndex(0)">All</a></li>
					<li ng-repeat="quadrant in selectedRadar.radar.quadrants" ng-class="(radarIndex == $index+1 ? 'active' : '') + ' quad' + ($index+1)">
						<a href="javascript:void(0)" ng-click="selectIndex($index+1)">{{quadrant.name}}</a>
					</li>
				</ul>
			</div>
			<div class="col-md-6 text-right" style="padding:10px;">
				<div class="col-xs-6" style="padding:8px 0;">
					<span>Highlight Skills</span>
				</div>
				<div class="col-xs-6">
					<select class="form-control">
						<option value="None">None</option>
					</select>
				</div>
			</div>
		</div>
		
		<div class="col-md-12" style="padding:50px 10%;">
			<ng-radar radar="selectedRadar.radar" selected-blip="selectedItem" centre-index="radarIndex" on-blip-clicked="blipClicked(blip)" editable="false"></ng-radar>
			<tr-tech-overlay ng-show="radarIndex===1" side="right" quads="quads[0]" focus="focusTech"></tr-tech-overlay>
			<tr-tech-overlay ng-show="radarIndex===2" side="left"  quads="quads[1]" focus="focusTech"></tr-tech-overlay>
			<tr-tech-overlay ng-show="radarIndex===3" side="left"  quads="quads[2]" focus="focusTech"></tr-tech-overlay>
			<tr-tech-overlay ng-show="radarIndex===4" side="right" quads="quads[3]" focus="focusTech"></tr-tech-overlay>
		</div>
		
	</div>
		
	</div>
</div>
