<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:xlink="http://www.w3.org/1999/xlink" lang="en" ng-app="techRadar">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="../../assets/ico/favicon.ico">

	<title>Technology Radar</title>

	<!-- Bootstrap core CSS -->
	<link href="/radar/css/font-awesome.min.css" rel="stylesheet">
	<link href="/radar/css/bootstrap.min.css" rel="stylesheet">

	<link href="//fonts.googleapis.com/css?family=PT+Sans:400italic,400,700italic,700" rel="stylesheet" type="text/css">

	<!-- Custom styles for this template -->
	<link href="/radar/css/radar.css" rel="stylesheet">
</head>
<body ng-controller="CommonViewCtrl">

 	<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

	<div ng-view></div>
	
	<footer class="baefooter">
		<section class="mainFooter">
			<div class="container">
				<div class="row">
					<div class="col-md-2" style="padding-top:6px;">
						<img src="/radar/img/baesystemsai.png"></img>
					</div>
					<div class="col-md-10">
						<ul class="nav nav-pills">
							<li><a href="#">Accessibility</a></li>
							<li><a href="#">Terms and conditions</a></li>
							<li><a href="#">Privacy</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</footer>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/radar/lib/jquery-1.11.1.min.js"></script>
	<script src="/radar/lib/angular.min.js"></script>
	<script src="/radar/lib/bootstrap.min.js"></script>
	<script src="/radar/lib/ui-bootstrap.min.js"></script>
	<script src="/radar/lib/d3.min.js" charset="utf-8"></script>
	<script src="/radar/lib/radar.js"></script>
	<script src="/radar/lib/controller.js"></script>
	<script src="/radar/lib/directive.js"></script>
	<script src="/radar/lib/app.js"></script>
	<script src="/radar/lib/angular-route.min.js"></script>
	<script src="/radar/lib/typeahead.js"></script>

</body>
</html>
	